<div>
    <div class="row filter-box">
        <label class="col-md-2 col-form-label" for="txtFilter">Filter:</label>
        <div class="col-md-10">
            <input name="txtFilter" type="text" [(ngModel)]="filterStr" (keyup.enter)="filterUpdated($event)" class="form-control">
        </div>
    </div>
    
    <table mat-table [dataSource]="parts" class="mat-elevation-z8" matSort matSortActive="sku" matSortDirection="desc">
        <ng-container matColumnDef="sku">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU</th>
            <th mat-cell *matCellDef="let part">{{part.part_number}}</th>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <th mat-cell *matCellDef="let part">{{part.title}}</th>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <th mat-cell *matCellDef="let part">{{part.description}}</th>
        </ng-container>
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <th mat-cell *matCellDef="let part">
                <img (click)="$event.preventDefault(); openDialog('/part-images/' + part.images[0].image.bucket_path)" [src]="'/part-images/' + part.images[0].image.bucket_path">
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row); partSelected(row)"
        [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50, 100]" aria-label="Select Page of Part Search Results"></mat-paginator>
</div>