table {
    .mat-mdc-row {
        th {
            font-weight: normal !important;
        }
    }
    .mat-mdc-row.hovered {
        background: #eee;
    }
    
    .mat-mdc-row.highlighted {
      background: #999;
    }
}

img {
    object-fit: scale-down;
    max-height: 30px;
}

.filter-box {
    padding-bottom: 20px;
}