<div class="row">
    <h3>{{part?.title}}</h3>

    <p>{{img_caption}}</p>

    <img *ngIf="img_url" [src]="img_url">
    
    <table mat-table [dataSource]="compatible_cars" class="mat-elevation-z8" matSort matSortActive="year" matSortDirection="desc">
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Year</th>
            <th mat-cell *matCellDef="let car">{{car.year.name}}</th>
        </ng-container>
        <ng-container matColumnDef="make">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Make</th>
            <th mat-cell *matCellDef="let car">{{car.make.name}}</th>
        </ng-container>
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
            <th mat-cell *matCellDef="let car">{{car.model.name}}</th>
        </ng-container>
        <ng-container matColumnDef="engine">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Engine</th>
            <th mat-cell *matCellDef="let car">{{car.engine.name}}</th>
        </ng-container>
        <ng-container matColumnDef="trim">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Trim</th>
            <th mat-cell *matCellDef="let car">{{car.trim.name}}</th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50, 100]" aria-label="Select Page of Part Search Results"></mat-paginator>
</div>