<nav class="navbar navbar-light bg-light">
    <a href="#" class="navbar-brand mb-0 h1">Parts Interchange</a>
    <div>
        <select2 [data]="savedCars"></select2>
        <button class="btn btn-outline-secondary">Clear</button>
    </div>
    <!-- <select>
        <option></option>
        <option *ngFor="let car of savedCars" [value]="car.id">
            {{car.year}} {{car.make}} {{car.model}} {{car.trim}} {{car.engine}}
        </option>
    </select> -->
    <button class="btn btn-light" (click)="openFeedbackDialog()">Feedback</button>
</nav>